
<div class="loginBody">
    <div class="form">
        <div class="loginTitle">
            <span>Register</span>
        </div>
         <div class="form-group">
            <label for="name">Fullname:</label>
            <input type="text" class="form-control" id="rname" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="rusername" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="rpassword" placeholder="Enter Password" autocomplete="on">
        </div>
          <div class="form-group">
            <label for="passwordcheck">Comfirm Password:</label>
            <input type="password" class="form-control" id="rpasswordcheck" placeholder="Comfirm Pasword" autocomplete="on">
        </div>
        <div class="registerLink">
            <a href="/login"><span>Đăng nhập ngay</span></a>
        </div>
        <button type="submit" id="registerbtn">Register</button>
    </div>
</div>
<script src="/js/login.js"></script>